@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Medium"), local("OpenSans-Medium"), url("../fonts/OpenSans/OpenSans-Medium.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Medium.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?np0yj1");
  src: url("../fonts/icons/icomoon.eot?np0yj1#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?np0yj1") format("truetype"), url("../fonts/icons/icomoon.woff?np0yj1") format("woff"), url("../fonts/icons/icomoon.svg?np0yj1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e971";
}

.icon-start:before {
  content: "\ea1c";
}

.icon-chevron-down:before {
  content: "\e901";
  color: #575859;
}

.icon-chevron-up:before {
  content: "\e900";
  color: #575859;
}

:root {
  --primary-color: #45b871;
  --light-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1425px;
  margin: 0 auto;
  padding: 0 10px;
}

.link {
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
}

.btn {
  display: inline-flex;
  border: unset;
  background: var(--primary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 15px;
  color: var(--light-color);
  padding: 33px 44px;
  border-radius: 5px;
  transition: 0.2s;
}
.btn:hover {
  background: #2b844d;
  cursor: pointer;
}

.btn-solid {
  background: unset;
  color: #575859;
}
.btn-solid:hover {
  background: #eaeaea;
  filter: unset;
}

.title {
  font-weight: 700;
  color: #242323;
}

.desc {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 30px;
  color: #6c6c6a;
}

.btn-play {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  border: unset;
  background: unset;
  font-size: 20px;
  line-height: 15px;
  font-weight: 600;
  border-radius: 10px;
  gap: 15px;
}
.btn-play .play-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
  font-size: 30px;
  background: #ffffff;
  color: #4c68ff;
  box-shadow: 0px 7.93174px 39.6587px rgba(69, 184, 113, 0.2);
  transition: 0.2s;
}
.btn-play .play-icon:hover {
  background: #dadada;
  cursor: pointer;
}

.row {
  display: flex;
}
.row .col-6 {
  flex-basis: 50%;
}
.row .col-4 {
  flex-basis: 33.333333333%;
}
.row .col-2 {
  flex-basis: 16, 666666667%;
}
@media (max-width: 1366px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
}

.btn2 {
  padding: 22px 31px;
  background: #fff;
  color: #242323;
  border-radius: 5px;
  border: unset;
  text-transform: capitalize;
  font-size: 1.25rem;
  line-height: 20px;
  color: #242323;
  transition: 0.3s;
}
.btn2:hover {
  background: unset;
  color: #fff;
  outline: 1px solid #ffffff;
  cursor: pointer;
}

.btn2-outline {
  background: unset;
  border: 1px solid #fff;
  color: #ffffff;
}
.btn2-outline:hover {
  background: #ffffff;
  color: #242323;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--3dxy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy .hamburger-inner::before,
.hamburger--3dxy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg);
}

.hamburger--3dxy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
         * 3DXY Reverse
         */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r .hamburger-inner::before,
.hamburger--3dxy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.header {
  max-width: 1920px;
  margin: 0 auto;
  background: url(../img/header-bg.png) no-repeat;
  background-color: #e4f5eb;
  background-position: 100% 100%;
}
@media (max-width: 1500px) {
  .header {
    background: unset;
  }
  .header .header-content {
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .header .header-content .header-buttons {
    justify-content: center;
  }
}
@media (max-width: 530px) {
  .header .header-buttons {
    flex-direction: column;
    align-self: center;
  }
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
}
.container-nav .nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.container-nav .nav-logo {
  font-weight: 700;
  color: #575859;
  font-size: 1.4875rem;
}
.container-nav .nav-logo span {
  color: var(--primary-color);
}
.container-nav .nav-link {
  font-size: 19.8294px;
  line-height: 15px;
  color: #575859;
  line-height: 25px;
  transition: 0.3s;
}
.container-nav .nav-link:hover {
  color: #303131;
}
@media (max-width: 768px) {
  .container-nav .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
    transform: translateX(100%);
    transition: 0.2s;
    background: #fff;
    z-index: 11;
  }
  .container-nav .nav.is-active {
    transform: translateX(0);
  }
}
.container-nav .nav-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.container-nav .nav-buttons .nav-btn {
  padding: 19px 22px;
}
.container-nav .nav-buttons .nav-btn .mobile {
  display: none;
  opacity: 1;
  transition: 0.2s;
}
@media (max-width: 335px) {
  .container-nav .nav-buttons .nav-btn .desktop {
    display: none;
  }
  .container-nav .nav-buttons .nav-btn .mobile {
    display: inline-flex;
    font-size: 24px;
    background: #ddd;
    padding: 10px;
    border-radius: 10px;
  }
}
@media (max-width: 335px) {
  .container-nav .nav-buttons .nav-btn:first-of-type {
    padding: unset;
  }
}
@media (max-width: 992px) {
  .container-nav {
    flex-wrap: wrap;
  }
  .container-nav .nav-logo {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .container-nav .nav-logo {
    flex-basis: unset;
  }
}
@media (max-width: 435px) {
  .container-nav .nav-logo {
    flex-basis: 100%;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index: 2;
}
.dropbtn .dropbtn-icon-up {
  font-size: 12px;
  display: none;
}
.dropbtn .dropbtn-icon-up.active {
  display: inline-flex;
}
.dropbtn .dropbtn-icon-down {
  font-size: 12px;
  display: none;
}
.dropbtn .dropbtn-icon-down.active {
  display: inline-flex;
}

.dropdown-content {
  display: flex;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: var(--light-color);
  will-change: transform;
  transform: translateY(-150%);
  transition: 0.2s;
  border-radius: 10px;
  overflow: hidden;
}
.dropdown-content .nav-link {
  padding: 10px;
}
.dropdown-content.is-active {
  transform: translateY(10px);
}

.hamburger {
  display: none;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-flex !important;
    z-index: 12;
  }
}

.fixed {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.overlay.is-active {
  visibility: visible;
  opacity: 1;
}

.header-content {
  margin-top: 30px;
  padding: 100px 0;
  gap: 20px;
}
.header-content .header-col {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header-content .header-btn {
  align-self: flex-start;
}
.header-content .header-title {
  font-size: 3.9659rem;
  line-height: 5.1875rem;
}
@media (max-width: 768px) {
  .header-content .header-title {
    font-size: 3rem;
    line-height: 3.75rem;
  }
}
.header-content .header-buttons {
  display: flex;
  gap: 28px;
  align-items: center;
}

.main {
  margin-top: 50px;
}

.block:nth-child(even) {
  background: #e4f5eb;
}

.sponsors-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sponsors-wrap .sponsors-title {
  max-width: 330px;
}
.sponsors-wrap .sponsors-item {
  display: flex;
  align-items: center;
}
.sponsors-wrap .sponsors-item .sponsors-link:last-of-type {
  margin-left: 50px;
}
@media (max-width: 1100px) {
  .sponsors-wrap {
    flex-wrap: wrap;
  }
  .sponsors-wrap .sponsors-title {
    max-width: unset;
    text-align: center;
    flex-basis: 100%;
  }
  .sponsors-wrap .sponsors-item {
    overflow-x: auto;
    justify-content: center;
  }
}

.start-wrap {
  margin-top: 150px;
}

.start-col:first-of-type {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 255px));
  grid-template-rows: repeat(2, minmax(0, 255px));
  gap: 30px;
  padding: 60px;
  background: url(../img/start-block-item.svg) no-repeat;
  background-size: 65%;
  background-position: 0 0;
  font-size: 28px;
  font-weight: 600;
}
@media (max-width: 530px) {
  .start-col:first-of-type {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
  }
}

.start-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0;
}
.start-col .start-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding: 23px;
  background: #ffffff;
  box-shadow: 5px 5px 100px rgba(87, 88, 89, 0.1);
  border-radius: 10px;
}
.start-col .start-card .start-icon {
  padding: 24px 35px;
  color: var(--light-color);
  border-radius: 50%;
  background: var(--primary-color);
}
.start-col .start-card:nth-child(even) {
  transform: translateY(30px);
}
.start-col .start-card:last-child {
  background: var(--primary-color);
  color: #ffffff;
}
.start-col .start-card:last-child .start-icon {
  background: #ffffff;
  color: #000;
}
.start-col .start-title {
  font-size: 3.625rem;
  line-height: 4.625rem;
}
.start-col .start-desc {
  color: #8c8e91;
}
@media (max-width: 1366px) {
  .start-col {
    max-width: 700px;
    text-align: center;
    justify-content: center;
  }
  .start-col .btn-play {
    align-self: center;
  }
  .start-col .start-card:nth-child(even) {
    transform: unset;
  }
}

.courses-wrap {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}
.courses-wrap .courses-btn {
  margin: 20px 0 100px 0;
  align-self: center;
}

.courses-title {
  font-size: 3.625rem;
  line-height: 74px;
  margin: 100px 0;
  color: #242323;
}
@media (max-width: 1150px) {
  .courses-title {
    text-align: center;
  }
}

.courses-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.courses-item .course-card {
  background: #ffffff;
  border: 1px solid #f2efef;
  box-shadow: 0px 20px 100px rgba(87, 88, 89, 0.1);
  border-radius: 15px;
  overflow: hidden;
  will-change: transofrm;
  transition: 0.2s;
}
.courses-item .course-card .course-preview {
  overflow: hidden;
}
.courses-item .course-card .course-preview-image {
  width: 100%;
  display: block;
}
.courses-item .course-card .course-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.courses-item .course-card .course-content .course-title {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.5rem;
}
.courses-item .course-card .course-content .course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(38, 142, 170, 0.5);
  padding-bottom: 21px;
}
.courses-item .course-card .course-content .course-info .course-lectures {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  line-height: 15px;
  color: #575859;
}
.courses-item .course-card .course-content .course-info .course-lectures .course-icon {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.25rem;
  background: #ff4848;
  color: #ffffff;
}
.courses-item .course-card .course-content .course-info .course-learners {
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  color: #575859;
}
.courses-item .course-card .course-content .course-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses-item .course-card .course-content .course-author .author-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.courses-item .course-card .course-content .course-author .author-info .author-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 21px;
  color: #242323;
}
.courses-item .course-card .course-content .course-author .course-price {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 15px;
  color: #4c68ff;
}
.courses-item .course-card:nth-child(2), .courses-item .course-card:nth-child(5) {
  transform: translateY(-50px);
}
@media (max-width: 1150px) {
  .courses-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .courses-item .course-card:nth-child(2),
  .courses-item .course-card:nth-child(5) {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .courses-item {
    grid-template-columns: repeat(1, 1fr);
  }
}

.reviews-wrap {
  padding: 100px;
}
@media (max-width: 530px) {
  .reviews-wrap {
    padding: 20px;
  }
}
.reviews-wrap .reviews-title {
  font-weight: 600;
  font-size: 58px;
  line-height: 74px;
  color: #424232;
  text-align: center;
  margin-bottom: 50px;
}
.reviews-wrap .review-slider {
  display: flex;
  gap: 75px;
}
.reviews-wrap .review-slider .slider-active {
  flex-basis: 60%;
}
@media (max-width: 530px) {
  .reviews-wrap .review-slider .slider-active {
    flex-basis: 100%;
  }
}
.reviews-wrap .review-slider .slider-not-active {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-basis: 40%;
}
@media (max-width: 530px) {
  .reviews-wrap .review-slider .slider-not-active {
    flex-basis: 100%;
  }
}
.reviews-wrap .review-slider .review-card {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 30px;
  padding: 50px 38px;
  transition: 0.2s;
  background: #ffffff;
  border: 1px solid rgba(231, 231, 231, 0.7);
  border-radius: 15px;
}
.reviews-wrap .review-slider .review-card .review-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #8c8e90;
}
.reviews-wrap .review-slider .review-card .review-avatar {
  max-width: 90px;
}
.reviews-wrap .review-slider .review-card:hover {
  background: #f2f2f2;
  cursor: pointer;
}
.reviews-wrap .review-slider .review-card.active {
  font-size: 28px;
  max-width: 700px;
  box-shadow: 30px 30px 70px rgba(99, 98, 98, 0.06);
  padding: 50px;
}
.reviews-wrap .review-slider .review-card.active .review-desc {
  font-size: 28px;
  line-height: 40px;
}
.reviews-wrap .review-slider .review-card.active .review-avatar {
  max-width: 142px;
}
.reviews-wrap .review-slider .review-card.active:hover {
  background: #ffffff;
  cursor: unset;
}
@media (max-width: 992px) {
  .reviews-wrap .review-slider {
    flex-direction: column;
    align-items: center;
  }
  .reviews-wrap .review-slider .review-card {
    align-items: center;
    text-align: center;
  }
}

.ticket {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background: url(../img/end.svg) no-repeat;
  background-size: cover;
  padding: 100px;
  background-position: center;
  text-align: center;
}
.ticket-title {
  max-width: 750px;
  font-size: 50px;
  line-height: 68px;
  color: #ffffff;
}
.ticket-buttons {
  display: flex;
  gap: 30px;
}
@media (max-width: 530px) {
  .ticket {
    padding: 40px;
  }
  .ticket-title {
    font-size: 30px;
    line-height: 40px;
  }
  .ticket-buttons {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
